Repository sumanaga/edge-ai-suites, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xwu2intel, @hteeyeoh, @madhuri-rai07, @bharagha, @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput, @vkb1, @sathyendranv, @pooja-intel, @SudarshanaPanda, @rashmihe, @vagheshp, @ArokiEdgard, @rohitkatakol, @senhui2intel, @Junyu-B, @wzq112358, @myqi, @tjanczak, @saratpoluri, @sarthakdeva-intel, @lijiunderstand, @chaofanchen-intel, @thegreatchaos, @yogeshmpandey, @bhardwaj-nakul, @zhangcong2019, @llin60, @Johere, @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @pperycz, @avinash-palleti, @unarayan, @open-edge-platform/open-edge-platform-docs-write

Create education-suite-scan.yaml (#730)
  .github/workflows/education-suite-scan.yaml
Owners: none

Update README.md
  education-ai-suite/README.md
Owners: @avinash-palleti, @unarayan

Update education-suite-scan.yaml
  .github/workflows/education-suite-scan.yaml
Owners: none

Update education-suite-scan.yaml
  .github/workflows/education-suite-scan.yaml
Owners: none

Don't Approve this PR, this is for testing
  education-ai-suite/README.md
Owners: @avinash-palleti, @unarayan

Update education-suite-scan.yaml
  .github/workflows/education-suite-scan.yaml
Owners: none

ITEP-94724: Update [HLS]-Multi-Modal-Patient-Monitoring.yaml
  .github/workflows/[HLS]-Multi-Modal-Patient-Monitoring.yaml
Owners: none

Delete education-ai-suite/smart-classroom/monitoring/tools/level-zero/.github directory
  education-ai-suite/smart-classroom/monitoring/tools/level-zero/.github/workflows/ci-external.yml
Owners: @avinash-palleti, @unarayan

Update README.md
  health-and-life-sciences-ai-suite/Surgical_Instrument/README.md
Owners: @xwu2intel

Update README.md
  health-and-life-sciences-ai-suite/README.md
Owners: @xwu2intel

Create third_party_deb_deps.txt
  health-and-life-sciences-ai-suite/Surgical_Instrument/thirdparty/third_party_deb_deps.txt
Owners: none

Create third_party_programs_surgical-instrument.txt
  health-and-life-sciences-ai-suite/Surgical_Instrument/third_party_programs_surgical-instrument.txt
Owners: none

Create sources.Dockerfile
  health-and-life-sciences-ai-suite/Surgical_Instrument/sources.Dockerfile
Owners: none

Rename third_party_deb_deps.txt to third_party_deb_deps_versions.txt
  health-and-life-sciences-ai-suite/Surgical_Instrument/thirdparty/third_party_deb_deps_versions.txt
Owners: none

Create third_party_deb_deps.txt
  health-and-life-sciences-ai-suite/Surgical_Instrument/thirdparty/third_party_deb_deps.txt
Owners: none

.github/CODEOWNERS:

LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel

# manufacturing-ai
/manufacturing-ai-suite/hmi-augmented-worker/             @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel
/manufacturing-ai-suite/industrial-edge-insights-vision/  @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel
/manufacturing-ai-suite/industrial-edge-insights-time-series/   @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe
/manufacturing-ai-suite/industrial-edge-insights-multimodal/   @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @sugnanprabhu
# moved into "industrial-edge-insights-vision" - consider removing
/manufacturing-ai-suite/pallet-defect-detection/          @ajagadi1 @sugnanprabhu @rrajore @xwu2intel
/manufacturing-ai-suite/weld-porosity/                    @ajagadi1 @sugnanprabhu @rrajore @xwu2intel

# metro-ai
/metro-ai-suite/                                                 @rrajore @vagheshp @ArokiEdgard @xwu2intel
/metro-ai-suite/image-based-video-search/                        @rrajore @vagheshp @ArokiEdgard @rohitkatakol @xwu2intel
/metro-ai-suite/interactive-digital-avatar/                      @senhui2intel @Junyu-B @wzq112358 @myqi @xwu2intel

/metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/  @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/metro-vision-ai-app-recipe/smart-intersection/   @saratpoluri @sarthakdeva-intel @xwu2intel
/metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/        @vagheshp @tjanczak @xwu2intel

/metro-ai-suite/sensor-fusion-for-traffic-management/            @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel
/metro-ai-suite/smart-nvr/                                       @bharagha @yogeshmpandey @bhardwaj-nakul @xwu2intel
/metro-ai-suite/video-processing-for-nvr/                        @zhangcong2019 @llin60 @Johere @xwu2intel
/metro-ai-suite/visual-search-question-and-answering/            @llin60 @Johere @zhangcong2019 @xwu2intel
# moved into metro-vision-ai-app-recipe
/metro-ai-suite/loitering-detection/                             @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/smart-parking/                                   @vagheshp @tjanczak @xwu2intel

# robotics-ai
/robotics-ai-suite/        @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel

# education-ai
/education-ai-suite/        @avinash-palleti @unarayan

# documentation content - manufacturing-ai
/manufacturing-ai-suite/README.md                                      @xwu2intel @hteeyeoh @ajagadi1 @vkb1                                     @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/hmi-augmented-worker/docs/                     @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel                            @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/hmi-augmented-worker/README.md                 @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel                            @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/**/docs/       @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel                @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/**/README.md   @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel                @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/README.md      @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel                @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-time-series/docs/     @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-time-series/README.md @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-multimodal/docs/           @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @sugnanprabhu   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-multimodal/docs/README.md   @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @sugnanprabhu   @open-edge-platform/open-edge-platform-docs-write




# documentation content - metro-ai
/metro-ai-suite/README.md                                       @rrajore @vagheshp @ArokiEdgard @xwu2intel                      @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/image-based-video-search/docs/                  @rrajore @vagheshp @ArokiEdgard @rohitkatakol @xwu2intel        @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/image-based-video-search/README.md              @rrajore @vagheshp @ArokiEdgard @rohitkatakol @xwu2intel        @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/docs/                @senhui2intel @Junyu-B @wzq112358 @myqi @xwu2intel              @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/README.md            @senhui2intel @Junyu-B @wzq112358 @myqi @xwu2intel              @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/docs/           @vagheshp @tjanczak @xwu2intel                   @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/README.md       @vagheshp @tjanczak @xwu2intel                   @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-intersection/docs/            @saratpoluri @sarthakdeva-intel @xwu2intel       @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-intersection/README.md        @saratpoluri @sarthakdeva-intel @xwu2intel       @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/docs/                 @vagheshp @tjanczak @xwu2intel                   @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/README.md             @vagheshp @tjanczak @xwu2intel                   @open-edge-platform/open-edge-platform-docs-write

/metro-ai-suite/sensor-fusion-for-traffic-management/docs/      @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel    @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/sensor-fusion-for-traffic-management/README.md  @lijiunderstand @chaofanchen-intel @thegreatchaos @xwu2intel    @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-nvr/docs/                                         @bharagha @yogeshmpandey @bhardwaj-nakul @xwu2intel     @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-nvr/README.md                                     @bharagha @yogeshmpandey @bhardwaj-nakul @xwu2intel     @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/video-processing-for-nvr/docs/                          @zhangcong2019 @llin60 @Johere @xwu2intel               @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/video-processing-for-nvr/README.md                      @zhangcong2019 @llin60 @Johere @xwu2intel               @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/docs/              @llin60 @Johere @zhangcong2019 @xwu2intel               @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/README.md          @llin60 @Johere @zhangcong2019 @xwu2intel               @open-edge-platform/open-edge-platform-docs-write


# documentation content - robotics-ai
/robotics-ai-suite/docs/               @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/README.md           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/**/docs/            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/**/README.md        @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @xwu2intel @open-edge-platform/open-edge-platform-docs-write

# documentation content - retail-ai - needs to be defined once content appears
